
* {
  margin: 0px;
  padding: 0px;
  font: 16px 'Source Sans Pro', sans-serif;
  border: none;
  box-sizing: border-box;
}

#quizContainer {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 500px;
  height: 600px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #98c5e9;
  display: flex;
  justify-content: center;
  color: black

}

h1 {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
}

p { 
  margin-top: 20px;
  text-align: center;
}

#startButton {
  justify-content: center;
  margin-top: 50px;
  width: 120px;
  height: 40px;
  border: 1px solid black;
  box-shadow: black;
  border-radius: 5px;
  background-color: lightgrey;
  display: inline-block;
  align-items: flex-start;
  margin-left: 140px;
}

nav a {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

nav div {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

li {
  background-color: yellow;
  margin-top: 10px;
  padding: 5px 15px;
  width: 400px;
  height: 80px;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  list-style: none;
}

#createDiv {
  margin-top: 20px;
  border-top: 1px solid lightgray;
}

#goBack {
  background-color: yellow;
  position: relative;
  padding: 10px;
  font-size: 20px;
  color: white;
  top: 30%;
  left: 55%;
  width: auto;
  text-align: center;
  text-decoration: none;
}

#reset {
  background-color: yellow;
  position: relative;
  padding: 10px;
  font-size: 20px;
  color: white;
  top: 30%;
  right: 5%;
  text-align: center;
}

button {
  border-radius: 8px;
}

textarea {
  width: 90%;
  margin: 20px;
}

#Submit {
  background-color: yellow;
  margin-left: 33%;
  padding: 15px 32px;
  font-size: 20px;
  color: white;
}

label {
  margin-right: 10px;
}
input {
  margin-bottom: 20px;
  width: 50%;
  border: 1px solid lightgray;
}

h1 {
  text-align: center;
}
