
* {
  margin: 0px;
  padding: 0px;
  font: 16px 'Source Sans Pro', sans-serif;
  border: none;
  box-sizing: border-box;
}

#quiz-container {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 500px;
  height: 600px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #98c5e9;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

p { 
  margin-top: 20px;

  text-align: center;
}
